@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
:root {
    font-family: Arial, Helvetica, sans-serif;
    --primary: #051014;
}

.header {
    color: white;
    background-color: var(--primary, blue);
    -webkit-transform: translate(0, -70%);
        -ms-transform: translate(0, -70%);
            transform: translate(0, -70%);
    -webkit-animation: to-bottom .4s ease-out forwards;
            animation: to-bottom .4s ease-out forwards;
}
.logo-container {
    text-align: center;
    padding: 15px 15px 15px 0;/*Centraliza a imagem e o nome do app*/
}
.logo-container > * {
    display: inline-block;
    vertical-align: bottom;
}

.set-month {
    display: block;
    padding: 20px 5px;
}
.set-month::after {
    content: "Some Month";
    color: black;
}

.media-container {
    max-width: 1000px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding-bottom: 5vh;
    margin: 0 auto;
    font-size: 0;
}
.media-block {
    display: inline-block;
    width: 32.6%;
    margin: 0.8px;
    background-color: #000000;
    pointer-events: none;
    position: relative;
    padding-bottom: 33%;
}
.media {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (min-width: 600px) {
    .media-block {
        width: calc(25% - (0.8px * 3));
        padding-bottom: 25%;
    }
}
@media only screen and (min-width: 778px) , (max-height: 350px) {
    .media-block {
        width: calc(16.9% - (0.8px * 5));
        padding-bottom: 16.9%;
    }
}
@supports (aspect-ratio: 4/4){
    .media-block {
        aspect-ratio: 4/4;
        padding: 0;
    }
    .media-block, .media {
        position: static;
    }
}

@supports (display: grid) {
    .logo-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 50px 100px;
        grid-template-columns: 50px 100px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .media-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: calc(33.3% - 1px) 1px calc(33.3% - 1px) 1px calc(33.3% - 1px);
        grid-template-columns: repeat(3, calc(33.3% - 1px));
        gap: 1px;
    }
    .media-block {
        width: 100%;
    }
    @media only screen and (min-width: 600px){
        .media-container {
            -ms-grid-columns: calc(25% - 1px) calc(25% - 1px)
                            calc(25% - 1px) calc(25% - 1px); 
            grid-template-columns: repeat(4, calc(25% - 1px));
        }
    }
    @media only screen and (min-width: 778px), (max-height: 320px) {
        .media-container {
            -ms-grid-columns:
            calc(16.66% - 1px) calc(16.66% - 1px) calc(16.66% - 1px)
            calc(16.66% - 1px) calc(16.66% - 1px) calc(16.66% - 1px);
            grid-template-columns: repeat(6, calc(16.66% - 1px));
        }
    }
}

@-webkit-keyframes to-bottom {
    from {
        -webkit-transform: translate(0, -70%);
                transform: translate(0, -70%);
    }
    to {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}

@keyframes to-bottom {
    from {
        -webkit-transform: translate(0, -70%);
                transform: translate(0, -70%);
    }
    to {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}

